<?xml version="1.0"?>
<launch>
    <param name="robot_description" textfile="$(find dmpc_uav_ad_hoc)/rviz/iris.urdf" />
    <node pkg="rviz" type="rviz" name="rviz" />
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="paused" value="false" />
        <arg name="use_sim_time" value="true" />
        <arg name="gui" value="true" />
        <arg name="headless" value="false" />
        <arg name="debug" value="false" />
    </include>
</launch>