<launch>
    <arg name="uav_num" default="3" />

    <!-- <arg name="world" default="$(find dmpc_uav_ad_hoc)/worlds/disaster.world" /> -->
    <arg name="world" default="$(find dmpc_uav_ad_hoc)/worlds/empty.world" />
    <arg name="gui" default="true" />
    <arg name="debug" default="false" />
    <arg name="verbose" default="false" />
    <arg name="paused" default="false" />
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="gui" value="$(arg gui)" />
        <arg name="world_name" value="$(arg world)" />
        <arg name="debug" value="$(arg debug)" />
        <arg name="verbose" value="$(arg verbose)" />
        <arg name="paused" value="$(arg paused)" />
    </include>

    <param name="robot_description" textfile="$(find dmpc_uav_ad_hoc)/rviz/iris.urdf" />

    <node pkg="dmpc_uav_ad_hoc" type="swarm_spawner.py" name="swarm_spawner"
        launch-prefix="bash -c 'sleep 3.0; $0 $@';">
        <param name="uav_num" value="$(arg uav_num)" />
    </node>

    <node pkg="dmpc_uav_ad_hoc" name="model_state_pub_node" type="model_state_pub_node"
        launch-prefix="bash -c 'sleep 5.0; $0 $@';"
        output="screen">
        <param name="uav_num" value="$(arg uav_num)" />
        <param name="pub_freq" value="60.0" />
        <param name="pub_tf" value="true" />
        <param name="state_source" value="topic" />
    </node>

</launch>